{% extends 'base.html' %}
{%load bootstrap3%}
{%block content%}
<div class="container">
    <h3>Update user profile</h3>
    <div class="row">
        <div class="col-sm-6 md-6 m-auto card">

            <div>
                <form method="POST" action="{%url 'update_profile'%}">
                    {%csrf_token%}
                    {% bootstrap_form profile_form %}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}