{% extends 'base.html' %}
{%block content%}
<style>
    #profile {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
    }
</style>
<div class="col-sm-6 m-auto ">
    <div class=" content-section container" style="padding-top: 100px;">
        <div class="media">
            <div class="col-sm-4">
                <div id="profile" class="rounded-circle">
                    <img style="width: 120%;
                    height: 120%;" src="{{user.profile.profile_photo.url }}" alt="profile_photo">
                </div>
            </div>
            <hr>
            <div class="media-body">
                <h2>{{user.username}}</h2>
                <p>{{user.email}}</p>
                <p>{{user.profile.bio}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p> 0 Following</p>
                    </div>
                    <div class="col-md-6">
                        <p> 0 Followers</p>
                    </div>
                    <br>
                </div>
                <hr>
                <a href="{%url 'update_profile'%}">
                    <button class="btn btn-success">Edit Profile</button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock content%}